.container-profile {

    max-width: 800px;
    margin: 0 auto;

    header {
        padding: 1em;
    }

    section {
        padding: 1em;
        text-align: left;

        p {
            margin: 0;
        }
    }
}

.company-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        max-width: 100px;
        max-height: 100px;
        margin: .5em;
        transition: .2s ease-in-out transform;
        background-color: #ccc;
    }

    img:hover {
        transform: scale(1.2, 1.2)
    }
}