.lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    
}

.lightbox {
    background: #dfdfdf;
    position: fixed;
    width: 75%;
    height: 90%;
    left: calc(25% / 2);
    top: calc(10% / 2);
    box-shadow: 0 0 10px 0px #333;
    overflow: auto;

    h2 {
        text-transform: uppercase;
        text-align: left;
        padding: .5em;
        margin: 0;
        background-color: #fff;
        width: calc(100% - 1em);
        border-bottom: 2px solid #ccc;
    }

    .content {
        height: calc(100% - 3.5em);

        iframe {
            width: 100%;
            height: auto;
            border: none;
        }
    
        .description {
            font-size: 1em;
            padding: 1em;
            margin: 0;
            text-align: left;
            overflow-y: auto;
        }
    }
    
}

.close-lightbox {
    position: absolute;
    right: 0;
    top: 0;

    &::after {
        font-family: fontawesome;
        content: "\f057";
    }
    padding: .25em;
    color: #444;
    font-size: 2em;
    //background: #eee;
    //border-radius: 0 0 0 25%;
}

.next-item {
    position: fixed;
    font-size: 3em;
    color: #ddd;
    &::before {
        font-family: fontawesome;
        content: "\f054";
    }
    top: calc(50% - 1em);
    right: calc(5% / 2);
}

.prev-item {
    position: fixed;
    font-size: 3em;
    color: #ddd;
    &::before {
        font-family: fontawesome;
        content: "\f053";
    }
    top: calc(50% - 1em);
    left: calc(5% / 2);
}

@media (max-width: 500px) {
    .lightbox {
        height: auto;
        width: 90%;
        top: calc(40% / 2);
        left: 5%;

        .content {
            .description {
                display: none;
            }
        }
    }
    .next-item {
        top: initial;
        bottom: 2%;
        &::before {
            content: "\f077";
        }
        
    }

    .prev-item {
        top: initial;
        bottom: 2%;
        &::before {
            content: "\f078";
        }
       
    }

}